@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Condensed-Extra-Bold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Light.woff2") format("woff2");
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura";
  font-weight: 500;
}

section{
  padding: 70px 0;
}

.heading {
  font-family: "Futura";
  font-size: 52px;
  line-height: 60px;
  text-transform: capitalize;
  color: #39374d;
  font-weight: 300;
}

.heading span {
  font-family: "Futura";
  font-weight: 500;
}

.text-lg{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #5D5E6C;
}

.text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5D5E6C;
}

/* GET PRODUCTIVE GET EASY CLOUD */

.get-productive{
  background: #F3F8FF;
}

.get-productive .target{
  margin-left: -20px;
}

.tabs{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  cursor: pointer;
  margin-top: 25px;
  position: relative;
}

.tabs.active{
  background-color: #0E5295;
}

.tabs.active::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #0E5295;
}

.tabs.active .tab-title{
  color: #ffffff;
}

.tabs.active .text{
  color: #ffffff;
}

.tabs .tab-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #141414;
  margin-bottom: 5px;
}

/* OUR TEAM */

.our-team .img{
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 8px;
}

.our-team .team-box{
  margin-top: 36px;
}

.our-team .team-box .img img{
  transition: all 0.3s;
}

.our-team .team-box:hover .img img{
  transform: scale(1.1);
}

.team-box .name{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
  margin-bottom: 4px;
}

.team-box .designation{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
  margin-bottom: 8px;
}

.team-box .linkedin{
  color: #1F85EA;
  font-size: 24px;
}

/* HERO FORM */

.hero-form{
  background-image: url('../img/form-BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 60px 0;
}

.hero-form .title {
  font-size: 32px;
  line-height: 44px;
  color: #39374d;
  text-align: center;
  margin-bottom: 16px;
}

.hero-form form {
  padding: 55px 75px;
  background: #F8F9F9;
  border-radius: 5px;
}

.hero-form .form-group {
  margin-top: 20px;
}

.hero-form .form-control{
  padding: 12px;
  font-size: 16px;
  line-height: 28px;
  background: rgba(248, 249, 249, 0.05);
  border: 1px solid #39374D;
  border-radius: 4px;
}

.hero-form .form-btn {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px;
  background: #1F85EA;
  border-radius: 4px;
}

.hero-form .content {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #5d5e6c;
}

/* FOOTER */

footer {
  padding-top: 170px;
  padding-bottom: 70px;
  background-color: #f4fafb;
}

footer .about {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #39374d;
}

footer .links-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #39374d;
  margin-bottom: 20px;
}

footer .footer-menu {
  width: 50%;
  float: left;
}

.footer-links li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #39374d;
  padding: 8px 0;
  text-decoration: none;
  display: inline-block;
}

.footer-links {
  list-style-type: none;
  padding-left: 0;
}

.map {
  width: 100%;
  height: 240px;
}

.bottom-footer {
  margin-top: 70px;
}

.bottom-footer p {
  margin-bottom: 0;
}

footer .footer-logo {
  margin-bottom: 35px;
}

.footer-social {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
}

.footer-social li {
  display: inline-block;
  margin: 0 12px;
}

.footer-social li a {
  display: inline-block;
}

.footer-social li .social {
  color: #39374d;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
