@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Medium-Bt.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Heavy-font.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Condensed-Extra-Bold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Light-Bt.woff") format("woff");
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura";
  font-weight: 500;
}

section{
  padding: 70px 0;
}

.heading {
  font-family: "Futura";
  font-size: 52px;
  line-height: 60px;
  text-transform: capitalize;
  color: #39374d;
  font-weight: 300;
}

.heading span {
  font-family: "Futura";
  font-weight: 500;
}

.text-lg{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #5D5E6C;
}

.text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5D5E6C;
}

/* NAVIGATION */

.navbar{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-nav .nav-item{
  margin: 0 23px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-collapse{
  background-color: #F3F8FF;
}


/* IDEAL BUSINESS DEVELOPMENT PLATFORM */

.ideal-BDP .heading{
  margin-bottom: 80px;
}

.ideal-BDP .box{
  background: #F8F9F9;
  border-radius: 15px;
  padding: 0 25px 30px;
  height: 100%;
}

.ideal-BDP .box .icons{
  margin-top: -30px;
  margin-bottom: 10px;
}

.ideal-BDP .box .title{
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-transform: capitalize;
  color: #39374D;
}

/* FUTURE SOFTWARE */

.future-software .heading{
  margin-bottom: 45px;
}

.future-software .box{
  position: relative;
  height: 100%;
}

.future-software .box *{
  position: relative;
}

.future-software .box::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background: #F8F9F9;
  border-radius: 8px;
}

.future-software .box .title{
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-transform: capitalize;
  color: #3D3D3D;
  margin-bottom: 20px;
}

.future-software .box .big{
  font-size: 56px;
  line-height: 64px;
  text-transform: capitalize;
  color: #0E5295;
  font-weight: 700;
  margin-bottom: 14px;
  margin-left: 25px;
  margin-right: 65px;
}

.future-software .box .text{
  margin-left: 25px;
  margin-right: 65px;
}

/* MID BANNER */

.mid-banner{
  background: #0E5295;
}

.mid-banner .title{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.mid-banner .get-started{
  font-family: "Futura";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #39374D;
  padding: 12px 32px;
  background: #F3F8FF;
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease;
}

.mid-banner .get-started:hover{
  background-color: #0E5295;
  color: #fff;
}

/* MISSION CRITICAL */

.mission-critical .icon-holder{
  background: #0E5295;
  border-radius: 14px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0px 45px;
  position: relative;
  margin-top: 65px;
}

.mission-critical .icon-holder .icon{
  width: 87px;
  height: 87px;
  border-radius: 50%;
  top: 0;
  transform: translateY(-50%);
  position: absolute;
}

.mission-critical .item-text{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

/* ENTERPRISE GRADE */

.enterprise-grade .heading{
  margin-bottom: 12px;
}

.enterprise-grade .box{
  display: flex;
  margin-top: 60px;
}

.enterprise-grade .box .icon{
  margin-right: 25px;
}

.enterprise-grade .content .title{
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #39374D;
}

/* TESTIMONIALS */

.testimonial-slider{
  margin-top: 70px;
}

.testimonial-slider .box{
  background: #F8F9F9;
  border-radius: 8px;
  padding: 40px 25px;
  margin: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.testimonial-slider .box .quote{
  margin-bottom: 35px;
}

.testimonial-slider .box .oneline-rev span{
  font-weight: 700;
}

.testimonial-slider .box .oneline-rev{
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #39374D;
  margin-bottom: 24px;
  min-height: 55px;
}

.testimonial-slider .box .text{
  color: #5D5E6C;
  margin-bottom: 22px;
}

.testimonial-slider .box .content .name{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #39374D;
  margin-bottom: 4px;
}

.testimonial-slider .user-box{
  display: flex;
  align-items: center;
  margin-top: auto;
}

.testimonial-slider .user-box .img{
  margin-right: 15px;
}

.testimonial-slider .slick-track{
    display: flex !important;
}

.testimonial-slider .slick-slide{
    height: inherit !important;
}

.testimonials .slick-arrow svg circle{
  transition: all 0.3s;
}

.testimonials .slick-arrow:hover svg circle{
  fill: #0E5295;
}

.testimonials .slick-arrow:hover svg path{
  stroke: #ffffff;
}

.testimonials .slick-arrow svg{
  width: 66px;
  margin-left: 10px;
}

/* GET PRODUCTIVE GET EASY CLOUD */

.get-productive{
  background: #F3F8FF;
}

.get-productive .target{
  margin-left: -20px;
  display: none;
}

.get-productive .target.active{
  display: block;
}

.tabs{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  cursor: pointer;
  margin-top: 25px;
  position: relative;
}

.tabs.active{
  background-color: #0E5295;
}

.tabs.active::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #0E5295;
}

.tabs.active .tab-title{
  color: #ffffff;
}

.tabs.active .text{
  color: #ffffff;
}

.tabs .tab-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #141414;
  margin-bottom: 5px;
}

/* CLIENT LOGOS */

.zoom{
  transition: all 0.3s;
}

.zoom:hover{
  transform: scale(1.15);
}

/* OUR TEAM */

.our-team .img{
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 8px;
}

.our-team .team-box{
  margin-top: 36px;
}

.our-team .team-box .img img{
  transition: all 0.3s;
}

.our-team .team-box:hover .img img{
  transform: scale(1.1);
}

.team-box .name{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
  margin-bottom: 4px;
}

.team-box .designation{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
  margin-bottom: 8px;
}

.team-box .linkedin{
  color: #1F85EA;
  font-size: 24px;
}

/* HERO FORM */

.hero-form{
  background-image: url('../img/form-BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 60px 0;
}

.hero-form .title {
  font-size: 32px;
  line-height: 44px;
  color: #39374d;
  text-align: center;
  margin-bottom: 16px;
}

.hero-form form {
  padding: 55px 75px;
  background: #F8F9F9;
  border-radius: 5px;
}

.hero-form .form-group {
  margin-top: 20px;
}

.hero-form .form-control{
  padding: 12px;
  font-size: 16px;
  line-height: 28px;
  background: rgba(248, 249, 249, 0.05);
  border: 1px solid #39374D;
  border-radius: 4px;
}

.hero-form .form-btn {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px;
  background: #1F85EA;
  border: 1px solid #1F85EA;
  border-radius: 4px;
}

.hero-form .form-btn:hover{
  background: #fff;
  color: #1F85EA;
}

.hero-form .content {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #5d5e6c;
}

/* CALENDLY */

.calendly-container{
  margin-bottom: -120px;
  padding-bottom: 0;
  padding-top: 40px;
}

/* FOOTER */

footer {
  padding-top: 170px;
  padding-bottom: 70px;
  background-color: #f4fafb;
}

footer .about {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #39374d;
}

footer .links-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #39374d;
  margin-bottom: 20px;
}

footer .footer-menu {
  width: 50%;
  float: left;
}

.footer-links li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #39374d;
  padding: 8px 0;
  text-decoration: none;
  display: inline-block;
}

.footer-links {
  list-style-type: none;
  padding-left: 0;
}

.map {
  width: 100%;
  height: 240px;
}

.bottom-footer {
  margin-top: 70px;
}

.bottom-footer p {
  margin-bottom: 0;
}

footer .footer-logo {
  margin-bottom: 35px;
}

.footer-social {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
}

.footer-social li {
  display: inline-block;
  margin: 0 12px;
}

.footer-social li a {
  display: inline-block;
}

.footer-social li .social {
  color: #39374d;
}

/* xl */

@media (max-width: 1199.98px) {
}

/* lg */

@media (max-width: 991.98px) {
}

/* md */

@media (max-width: 767.98px) {

  section {
    padding: 40px 0;
  }

  .hr-scroll{
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .testimonial-slider{
    margin-top: 0;
  }

  .testimonial-slider .box{
    margin: 0 5px;
    padding: 20px;
  }

  .testimonial-slider .slick-list{
    padding-right: 10%;
  }

  .testimonial-slider .box .oneline-rev {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    min-height: 40px;
  }

  .testimonial-slider .box .content .name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
  }

  .heading{
    font-size: 24px;
    line-height: 32px;
  }

  .text-lg{
    font-size: 16px;
    line-height: 24px;
  }

  .ideal-BDP .box {
    background: #F8F9F9;
    border-radius: 15px;
    padding: 0 25px 30px;
    height: auto;
    margin-bottom: 60px;
  }

  .future-software .heading{
    margin-bottom: 20px;
  }

  .future-software .hr-scroll{
    margin-top: 20px;
  }

  .future-software .box .text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .future-software .box .title{
    font-size: 20px;
    line-height: 28px;
    margin-left: 10px;
  }

  .mission-critical .heading{
    text-align: center;
  }

  .mission-critical .item-text {
    font-size: 20px;
    line-height: 28px;
  }

  .mission-critical .item-text br{
    display: none;
  }

  .hero-form .title{
    font-size: 24px;
    line-height: 32px;
  }

  .hero-form form {
    padding: 25px 25px;
  }

  .ideal-BDP .box .icons{
    width: 60px;
  }

  .mid-banner .title {
    font-size: 20px;
    line-height: 28px;
  }

  .ideal-BDP .box .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }

  .mission-critical .icon-holder {
    height: 150px;
    padding: 0 0px 30px;
    position: relative;
    margin-top: 65px;
  }

  .our-team .team-box {
    margin-top: 30px;
  }

  .our-team .img {
    margin-bottom: 8px;
  }

  .team-box .name{
    margin-bottom: 0;
  }

  .team-box .designation {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .tabs.active::before{
    display: none;
  }

  .tabs{
    margin-right: 0;
  }

  .enterprise-grade .box{
    margin-top: 30px;
  }

  .enterprise-grade .content .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }

  .enterprise-grade .box .icon {
    margin-right: 20px;
  }

  .testimonials .slick-arrow{
    display: none !important;
  }

  .get-productive .target{
    margin-left: 0;
    margin-top: 20px;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  footer .about{
    margin-bottom: 25px;
  }

  footer .footer-menu{
    margin: 20px 0;
  }

  .calendly-container {
    margin-bottom: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .bottom-footer {
    margin-top: 40px;
  }

  .bottom-footer p{
    text-align: center;
    margin-top: 15px;
  }

  .navbar-collapse{
    padding: 10px 0;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: #39374D;
    font-size: 16px;
  }

}

/* sm  */

@media (max-width: 575.98px) {

  

}

/* xs */